*.swp
*.pyc
cover
.coverage
.idea
.idea/codeStyleSettings.xml
.idea/deployment.xml
.idea/dictionaries/
.idea/dorina.iml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/remote-mappings.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/
data/
dorina/__pycache__/
dorina/config/__pycache__/
dorina_ensembl.ipynb
dorina_steps.md
